@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Raleway:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
:root {
  --main-bg: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.message {
  color: white;
}
.tic-tac-con {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--main-bg);
  gap: 10%;
}

.main-grid {
  display: grid;
  width: 50vh;
  height: 50vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5%;
}

.box {
  display: flex;
  /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  transition: transform 0.2s ease-in-out;
}

.eight {
  grid-area: "eight";
}

.box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.4;
}
svg.cross path {
  stroke: #9a538d;
}
svg.circle {
  color: #6271b2;
}
.reset-btn {
  width: 50vh;
  height: 5vh;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background: #42a49d;
  border: none;
  border-radius: 20px;
}
.reset-btn-title {
  font-size: 1rem;
  letter-spacing: 5px;
}

.reset-btn:hover {
  transform: scale(1.03);
}
